.author {
  display: block;
  text-align: right;
  color: #896fe1;
  font-weight: bold;
}

.main-slide h1 {
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

h3 {
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img.runtime-example {
  height: 450px;
  width: 650px;
}

img.event-loop-example {
  height: 300px;
  width: 600px;
}

span.js {
  font-size: 1.5em;
}

.highlighted {
  color: #99e052;
  font-weight: bold;
}

.engines {
  width: 900px;
  height: 200px;
}

.loop-test {
  width: 900px;
  height: 600px;
}

.loop-test-single {
  width: 900px;
  height: 500px;
}

a.link-to-source {
  text-decoration: underline;
  display: block;
}

.small-link {
  font-size: 16px;
}

.reveal .performance-check {
  height: 600px;
  width: 750px;
}

.visit-link {
  width: 250px;
  height: 200px;
}
